{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pilates Gravity</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">

    <!-- Tailwind CSS compilado -->
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}">

    <!-- Estilos CSS personalizados -->
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_about.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_benefits.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_classes.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_instructors.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_norm.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/custom_styles_faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/gravity/styles_animations.css' %}">

</head>