{% load static %}

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
    {% include 'components/base/head.html' %}

    <body class="m-0 font-cinzel bg-fondo text-gray-800 overflow-x-hidden">

        {% include 'components/base/header.html' %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'components/base/footer.html' %}

        <!-- Botón flotante de WhatsApp -->
        {% include 'components/base/whatsapp_chat.html' %}

        <!-- Scripts en orden -->
        <script src="{% static 'js/base_scripts.js' %}"></script>
        <script src="{% static 'js/hero_animations.js' %}"></script>

        <!-- Bloque para JavaScript específico de cada página -->
        {% block extra_js %}
        {% endblock %}
    </body>
</html>